<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<!--Main Content-->

<main class="container">
<div class="jumbotron">
  <h1 class="display-4"></h1>
 </div>
</main>
 
 <!-- About Section-->
        <section class="page-section bg-primary text-black mb-0" id="about">
            <div class="container">
            
                <!-- About Section Heading-->
                <!--legal name, image and a paragraph about who you are.-->
               <img src="/Assets/images/logo.png" class="rounded mx-auto d-block" alt="photo" width="100px" height="52.07px">

                <h2 class="page-section-heading text-center text-uppercase text-black">About</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-dark">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto">
                        <p class="lead">Group 9<br>
                            Program: Software engineering technology<br>
                            Course: Web Application Development<br>
                        </p>
                    
                    </div>
                    <div class="col-lg-4 me-auto">
                        <p class="lead">
                            Abdul Waziri - 301141856 <br>
                            Brian Duong- 300741880 <br>
                            Ziyan Liu- 301133339<br>
                            Kumail Doctor- 301193171<br>
                            Kimberley Yung - 301233224 <br>
                            Nanjin Wang - 301243786<br>
                        </p></div>
                </div>
               
            </div>
        </section>


<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>   
