<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--Main Content-->
    <main class="container">
      <div class="jumbotron">

        <div class="w3-container w3-center" style="padding-top:100px">
          <img src="/Assets/images/logo.png" 
        class="rounded mx-auto d-block w3-center w3-animate-top" 
        alt="photo" 
        width="800px" 
        height="420.77px">
        </div>

        <!-- Header -->
        <header class="w3-panel w3-center">
          <!--link or button that allows the user to redirect other pages-->
            <div class="w3-bar w3-border">
              <a href="/game-info" class="w3-bar-item w3-button">VIEW ACTIVE TOURNAMENTS</a>
            </div>
        </header>

        <header class="w3-panel w3-center">
          <!--link or button that allows the user to redirect other pages-->
            <div class="w3-bar w3-border">
              <a href="/game-info/add" class="w3-bar-item w3-button">CREATE TOURNAMENT</a>
            </div>
        </header>

        <h1 class="display-4"></h1>

        <!-- !PAGE CONTENT! -->
        <div class="w3-content" style="max-width:1500px">
          
        </div>
      </div>
    </main>

    <%- include ('partials/bottom_nav.ejs') %>

    <%- include ('partials/footer.ejs') %>